---

---

<footer class="mil-dark-bg mil-sekcja-ciemna">
  <div class="mi-invert-fix">
    <div class="container mil-p-120-60">
      <div class="row justify-content-between">
        <div class="col-md-4 col-lg-4 mil-mb-60">
          <div class="mil-muted mil-logo mil-up mil-mb-30">Maxsoft</div>

          <p class="mil-light-soft mil-up mil-mb-30">
            Zapisz się na nasz newsletter:
          </p>

          <form class="mil-subscribe-form mil-up">
            <input type="email" placeholder="Wpisz swój adres e-mail" />
            <button
              type="submit"
              class="mil-button mil-icon-button-sm mil-arrow-place"></button>
          </form>

          <div class="mil-tags mil-light-soft">
            <strong>Tworzenie Stron www Zielona Góra</strong>, Świebodzin,
            aplikacje webowe, <strong>Projektowanie stron www</strong>, Systemy
            CRM, <strong>Sklepy internetowe Zielona Góra</strong>, Sulechów,
            Integracje Api, Optymalizacja baz danych, Projektowanie CMS
          </div>
        </div>
        <div class="col-md-7 col-lg-6">
          <div class="row justify-content-end">
            <div class="col-md-6 col-lg-7">
              <nav class="mil-footer-menu mil-mb-60">
                <ul>
                  <li class="mil-up mil-active">
                    <a href="/pl">Start</a>
                  </li>
                  <li class="mil-up">
                    <a href="pl/oferta">Oferta</a>
                  </li>
                  <li class="mil-up">
                    <a href="pl/projekty">Projekty</a>
                  </li>
                  <li class="mil-up">
                    <a href="pl/wspolpraca">Współpraca</a>
                  </li>
                  <li class="mil-up">
                    <a href="pl/kontakt">Kontakt</a>
                  </li>
                </ul>
              </nav>
            </div>
            <div class="col-md-6 col-lg-5">
              <ul class="mil-menu-list mil-up mil-mb-60">
                <li>
                  <a href="pl/polityka_prywatnosci" class="mil-light-soft"
                    >Polityka prywatności</a
                  >
                </li>
                <li>
                  <a href="pl/polityka_cookies" class="mil-light-soft"
                    >Polityka plików cookie</a
                  >
                </li>
                <li>
                  <a
                    href="https://www.npmjs.com/~maxsoft"
                    rel="noreferrer nofollow"
                    class="mil-light-soft">NPM</a
                  >
                </li>
                <li>
                  <a
                    href="https://github.com/gmaxsoft"
                    rel="noreferrer nofollow"
                    class="mil-light-soft">Github</a
                  >
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="row justify-content-between flex-sm-row-reverse">
        <div class="col-md-7 col-lg-6">
          <div class="row justify-content-between">
            <div class="col-md-6 col-lg-5 mil-mb-60">
              <h6 class="mil-muted mil-up mil-mb-30">Lubrza</h6>

              <p class="mil-light-soft mil-up">
                66-218 Lubrza, Nowa Wioska 39<br />Polska<br /><span
                  class="mil-no-wrap">(+48) 791 821 908</span
                >
              </p>
            </div>
            <div class="col-md-6 col-lg-5 mil-mb-60">
              <h6 class="mil-muted mil-up mil-mb-30">Zielona Góra</h6>

              <p class="mil-light-soft mil-up">
                65-463 Zielona Góra, ul.Prosta 45A<br />Polska<br /><span
                  class="mil-no-wrap">+(48) 453 645 286</span
                >
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-lg-6 mil-mb-60">
          <div class="mil-vert-between">
            <div class="mil-mb-30">&nbsp;</div>
            <p class="mil-light-soft mil-up">
              © Copyright 2025 - Maxsoft. Wszystkie prawa zastrzeżone.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
