---
const { langPrefix } = Astro.props;
const prefix = langPrefix || "/pl";
const { data } = Astro.props;
--- 

<noscript>
  <a href="https://www.stomatolog-dentysta.pl" title="Dentysta Zielona Góra">Dentysta Zielona Góra</>
  <a href="https://serwisagd.swiebodzin.pl" title="Naprawa pralek Świebodzin">Naprawa pralek Świebodzin</a>
</noscript>