@use "sass:math";
@use "variables" as vars;
@use "common";
@use "components";

@import "swiper/css"; 
@import "swiper/css/navigation";
@import "swiper/css/pagination";
@import "bootstrap/scss/bootstrap-grid";
@import "@fancyapps/ui/dist/fancybox/fancybox.css";
